<nav>
    <ul>
        
        <li> <a routerLink="">Accueil</a></li>   
        <li class="deroulant"><a routerLink="">Démonstrations &ensp;</a>
            <ul class="sous">
                <li><a routerLink="">Demo 01 - One-Way Binding</a></li>
               
            </ul>
        </li>
        <li class="deroulant"><a routerLink=""> Exercices &ensp;</a>
            <ul class="sous">
                <li><a routerLink="">Exo 1</a></li>
                 
            </ul>       
        </li>    
    </ul>
</nav>


